### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Total number of rows
count_rows = purchase_data.shape[0]

#Getting unique names of players
unique_players = purchase_data["SN"].unique()
total_players_df = (len(unique_players))
total_players_df

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of unique items
unique_df = purchase_data['Item ID'].unique()
uniqueVal = len(unique_df)

#Average of price column
average_df = purchase_data['Price'].mean()

#Total Number of purchases
total_purchases = purchase_data['Purchase ID'].count()

#Total revenue 
total_revenue = purchase_data['Price'].sum()

#Summary data frame
Summary_df = pd.DataFrame({"Number of Unique Items":[uniqueVal],
                          "Average Price":[average_df],
                          "Number of Purchases":[total_purchases],
                          "Total Revenue":[total_revenue]})

Summary_df["Average Price"] = Summary_df["Average Price"].map("${:.2f}".format)
Summary_df["Total Revenue"] = Summary_df["Total Revenue"].map("${:,.2f}".format)

Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Male players count
total_male_players = purchase_data.loc[purchase_data['Gender'] == 'Male']
total_unique_male_players = len(total_male_players["SN"].unique())

#Percentage of male players
male_percent = total_unique_male_players/total_players_df * 100

#Female players count
total_female_players = purchase_data.loc[purchase_data['Gender'] == 'Female']
total_unique_female_players = len(total_female_players["SN"].unique())

#Percentage of female players
female_percent = total_unique_female_players/total_players_df * 100

#Others/ Non-disclosed count
total_other_players = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed']
total_unique_others = len(total_other_players["SN"].unique())

#Percentage of others
others_percentage = total_unique_others/total_players_df * 100

#Summary table
Summarygender = {"Total Count":[total_unique_male_players,total_unique_female_players,total_unique_others],
                 "Percentage of Players": [male_percent,female_percent,others_percentage]}

Summary_gender = pd.DataFrame(Summarygender,index=['Male','Female','Other / Non-Disclosed'],columns=["Total Count","Percentage of Players"])
Summary_gender["Percentage of Players"] = Summary_gender["Percentage of Players"].map("{:.2f}".format)
Summary_gender

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Purchase count Male
count_male = len(total_male_players)

#average_purchase_male #total_price_male
total_price_male = total_male_players['Price'].sum()
avg_price_male = total_price_male/count_male

#Average purchase total per person male
avg_purchase_total_male = total_price_male/total_unique_male_players

#Purchase count female
count_female = len(total_female_players)

#average_purchase_female #total_price_female
total_price_female = total_female_players['Price'].sum()
avg_price_female = total_price_female/count_female

#Average purchase total per person female
avg_purchase_total_female = total_price_female/total_unique_female_players

#Purchase count others
count_others = len(total_other_players)

#average_purchase_others #total_price_others
total_price_others = total_other_players['Price'].sum()
avg_price_others = total_price_others/count_others

#Average purchase total per person others
avg_purchase_total_others = total_price_others/total_unique_others

#Summary table for Purchase Analysis by Gender
Purchase_Summary_gender = {"Purchase Count":[count_male,count_female,count_others],
                           "Average Purchase Price":[avg_price_male,avg_price_female,avg_price_others],
                           "Total Purchase Value":[total_price_male,total_price_female,total_price_others],
                           "Avg Total Purchase per Person":[avg_purchase_total_male,avg_purchase_total_female,avg_purchase_total_others],
                           "Gender":['Male','Female','Other / Non-Disclosed']}

Purchase_Summary_gender = pd.DataFrame(Purchase_Summary_gender)
Purchase_Summary_gender.set_index("Gender",inplace=True)
Purchase_Summary_gender["Average Purchase Price"] = Purchase_Summary_gender["Average Purchase Price"].map("${:,.2f}".format)
Purchase_Summary_gender["Total Purchase Value"] = Purchase_Summary_gender["Total Purchase Value"].map("${:,.2f}".format)
Purchase_Summary_gender["Avg Total Purchase per Person"] = Purchase_Summary_gender["Avg Total Purchase per Person"].map("${:.2f}".format)
Purchase_Summary_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#copying the purchase_data DataFrame  
#unique_all_players = purchase_data.drop_duplicates('SN','first')
purchase_data_copy = purchase_data.copy()

#creating bins for ages
age_bins = [1,9,14,19,24,29,34,39,100]

#creating labels for bins
age_group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Categorize the existing players using the age bins.
#adding the age_grouping into the dataframe as a column
purchase_data_copy["Age Group"] = pd.cut(purchase_data_copy['Age'],age_bins,labels=age_group_labels)

#Grouping by age 
age_groups =purchase_data_copy.groupby("Age Group")

#Retreiving unique players count by age
grouped_age = age_groups['SN'].nunique()

grouped_by_age = pd.DataFrame({"Total Count":grouped_age})
del grouped_by_age.index.name

#Calculating the percentages by age group
grouped_by_age["Percentage of Players"] = (grouped_by_age["Total Count"]/total_players_df) *100

grouped_by_age["Percentage of Players"] = grouped_by_age["Percentage of Players"].map("{:.2f}".format)
grouped_by_age

       Total Count Percentage of Players
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Purchase Count
Purchase_count = age_groups['SN'].count()

#Average Purchase Price
Average_Purchase_Price = age_groups['Price'].mean()

#Total Purchase Value
Total_Purchase_Value = age_groups['Price'].sum()

#Average Total Purchase per Person
Avg_Total_Purchase = (Total_Purchase_Value)/grouped_age

#Summary DataFrame
Purchase_Analysis_Age = pd.DataFrame({"Purchase Count":Purchase_count,
                                      "Average Purchase Price":Average_Purchase_Price,
                                      "Total Purchase Value":Total_Purchase_Value,
                                      "Avg Total Purchase per Person":Avg_Total_Purchase})
#Formatting
Purchase_Analysis_Age["Average Purchase Price"] = Purchase_Analysis_Age["Average Purchase Price"].map("${:.2f}".format)
Purchase_Analysis_Age["Total Purchase Value"] = Purchase_Analysis_Age["Total Purchase Value"].map("${:,.2f}".format)
Purchase_Analysis_Age["Avg Total Purchase per Person"] = Purchase_Analysis_Age["Avg Total Purchase per Person"].map("${:.2f}".format)
Purchase_Analysis_Age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Group by Players
Players = purchase_data.groupby('SN')

#Purchase Count
Purchase_count = Players['SN'].count()

#Average Purchase Price
Avg_Purchase_Price = Players['Price'].mean()

#Total Purchase Value
Total_Purchase_Price = Players['Price'].sum()

#Summary DataFrame
Top_Spenders = pd.DataFrame({"Purchase Count":Purchase_count,
                             "Average Purchase Price":Avg_Purchase_Price,
                             "Total Purchase Value":Total_Purchase_Price})

#Sorting Total Purchase value in descending order
Top_Spenders = Top_Spenders.sort_values(by='Total Purchase Value',ascending=False)

#Formatting the columns
Top_Spenders["Average Purchase Price"]=Top_Spenders["Average Purchase Price"].map("${:.2f}".format)
Top_Spenders["Total Purchase Value"]=Top_Spenders["Total Purchase Value"].map("${:.2f}".format)

#Displaying the summary dataframe
Top_Spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
#Retreiving the Items data
Items_Data = purchase_data[["Item ID","Item Name","Price"]]

#Grouping by Item ID and Item Name
Items_Data_grouped = Items_Data.groupby(['Item ID','Item Name'])

Purchase_Count = Items_Data_grouped['Price'].count()

#Total Purchase Value
Total_Purchase_Value = Items_Data_grouped['Price'].sum()

Item_price = Total_Purchase_Value/Purchase_Count

#Summary DatFrame
Most_Popular_Items = pd.DataFrame({"Purchase Count":Purchase_Count,
                                   "Item Price":Item_price,
                                    "Total Purchase Value":Total_Purchase_Value})

Most_Popular_Items_Sort = Most_Popular_Items.sort_values(by="Purchase Count",ascending=False)

#Formatting the columns
Most_Popular_Items_Sort["Item Price"] = Most_Popular_Items_Sort["Item Price"].map("${:.2f}".format)
Most_Popular_Items_Sort["Total Purchase Value"] = Most_Popular_Items_Sort["Total Purchase Value"].map("${:.2f}".format)

#Displaying the summary dataframe
Most_Popular_Items_Sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [32]:
#Sorting in descending order by Total Purchase Value
Most_Popular_Items_Sort = Most_Popular_Items.sort_values(by="Total Purchase Value",ascending=False)
Most_Popular_Items_Sort

#Formatting the columns
Most_Popular_Items_Sort["Item Price"] = Most_Popular_Items_Sort["Item Price"].map("${:.2f}".format)
Most_Popular_Items_Sort["Total Purchase Value"] = Most_Popular_Items_Sort["Total Purchase Value"].map("${:.2f}".format)

#Displaying the summary dataframe
Most_Popular_Items_Sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80