### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
count_rows = purchase_data.shape[0]
count_rows

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Number of unique items
unique_df = purchase_data['Item ID'].unique()
uniqueVal = len(unique_df)

#Average of price column
average_df = purchase_data['Price'].mean()

#Total Number of purchases
total_purchases = purchase_data['Purchase ID'].count()

#Total revenue 
total_revenue = purchase_data['Price'].sum()

#Summary data frame
Summary_df = pd.DataFrame({"Number of Unique Items":[uniqueVal],
                          "Average Price":[average_df],
                          "Number of Purchases":[total_purchases],
                          "Total Revenue":[total_revenue]})

Summary_df["Average Price"] = Summary_df["Average Price"].map("${:.2f}".format)
Summary_df["Total Revenue"] = Summary_df["Total Revenue"].map("${:,.2f}".format)

Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [56]:
#Getting unique names of players
unique_players = purchase_data["SN"].unique()
total_players_df = (len(unique_players))
#total_players_df

#Male players count
total_male_players = purchase_data.loc[purchase_data['Gender'] == 'Male',['SN']]
total_male_players = len(total_male_players["SN"].unique())

#Percentage of male players
male_percent = total_male_players/total_players_df * 100

#Female players count
total_female_players = purchase_data.loc[purchase_data['Gender'] == 'Female',['SN']]
total_female_players = len(total_female_players["SN"].unique())

#Percentage of female players
female_percent = total_female_players/total_players_df * 100

#Others/ Non-disclosed count
total_others = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed',['SN']]
total_others = len(total_others["SN"].unique())

#Percentage of others
others_percentage = total_others/total_players_df * 100

#Summary table
Summarygender = {"Total Count":[total_male_players,total_female_players,total_others],
                          "Percentage of Players": [male_percent,female_percent,others_percentage],
                 "Index" :['Male','Female','Other / Non-Disclosed']}
Summary_gender = pd.DataFrame(data=Summarygender)

#Summary_gender.set_index(Summary_gender.index['Male','Female','Other / Non-Disclosed'])
Summary_gender.set_index("Index",inplace=True)
Summary_gender["Percentage of Players"] = Summary_gender["Percentage of Players"].map("{:.2f}".format)
Summary_gender

                       Total Count Percentage of Players
Index
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
#Purchase count Male
total_male_players = purchase_data.loc[purchase_data['Gender']=='Male']
count_male = len(total_male_players)

#average_purchase_male #total_price_male
total_price_male = total_male_players['Price'].sum()
avg_price_male = total_price_male/count_male

#Average purchase total per person male
avg_purchase_total_male = avg_price_male/count_male

#Purchase count female
total_female_players = purchase_data.loc[purchase_data['Gender']=='Female']
count_female = len(total_female_players)

#average_purchase_female #total_price_female
total_price_female = total_female_players['Price'].sum()
avg_price_female = total_price_female/count_female

#Average purchase total per person female
avg_purchase_total_female = avg_price_female/count_female

#Purchase count others
total_other_players = purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed']
count_others = len(total_other_players)

#average_purchase_others #total_price_others
total_price_others = total_other_players['Price'].sum()
avg_price_others = total_price_others/count_others

#Average purchase total per person others
avg_purchase_total_others = (total_price_others/avg_price_others)

#Summary table for Purchase Analysis by Gender
Purchase_Summary_gender = {"Purchase Count":[count_male,count_female,count_others],
                          "Average Purchase Price":[avg_price_male,avg_price_female,avg_price_others],
                          "Total Purchase Value":[total_price_male,total_price_female,total_price_others],
                          "Avg Total Purchase per Person":[avg_purchase_total_male,avg_purchase_total_female,avg_purchase_total_others],
                          "Index":['Male','Female','Other / Non-Disclosed']}

Purchase_Summary_gender = pd.DataFrame(data=Purchase_Summary_gender)
Purchase_Summary_gender.set_index('Index',inplace=True)
Purchase_Summary_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Index,,,,
Male,652,3.017853,1967.64,0.004629
Female,113,3.203009,361.94,0.028345
Other / Non-Disclosed,15,3.346000,50.19,1.000000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame